{% extends "base.html" %}
{% block body %}
<br>
{% if view_more == False %}
<div class="card-group bg-transparent">
  <div class="card">
    <img class="card-img-top"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyEMwqlvA4kD4vxQGpo4ODFNzkAkTpaV6QPGT_zCUSPChBN12k"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Python Full Stack</h5>
      <p class="card-text">A full stack developer is an engineer who can handle all the work of databases, servers,
        systems engineering, and clients.</p>
      <form class="" action="/" method="post">
        <center><button type="submit" name="action" class="btn btn-primary btn-lg" value="fullstack">Check the Skills Required for Full Stack Role</button></center>
      </form>
    </div>
  </div>

  <br>
  <br>

  <div class="card">
    <img class="card-img-top"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyEMwqlvA4kD4vxQGpo4ODFNzkAkTpaV6QPGT_zCUSPChBN12k"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Data science</h5>
      <p class="card-text">Data science is a multidisciplinary blend of data inference, algorithmm development, and
        technology in order to solve analytically complex problems.</p>
      <form class="" action="/" method="post">
        <center><button type="submit" class="btn btn-primary btn-lg" name="action" value='datascience'>Check the Skills Required for Data Scientist Role</button></center>
      </form>
    </div>
  </div>
</div>
{% endif %}


<br>
{% if view_more == True %}
<div class="card">
<!--     <img class="card-img-top"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyEMwqlvA4kD4vxQGpo4ODFNzkAkTpaV6QPGT_zCUSPChBN12k"
      alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Skills Required {{ role }} Role</h5>
      <p class="card-text">
      <form class="" action="/result" method="post">
      </p>
      
      {% for skill in skills %}
        <div class="form-check form-check-inline text-justify">
          <h4>
        {% if skill in byte_skills %}
          <label class="checkbox-inline"><input class="form-check-input position-static" type="checkbox" name="check" value={{ skill }}><span class="badge badge-pill badge-success">{{ skill }}</span></label>
        {% else %}
          <label class="checkbox-inline"><input class="form-check-input position-static" type="checkbox" name="check" value={{ skill }}><span class="badge badge-pill badge-success">{{ skill }}</span></label>
        {% endif %}</h4>
        </div>

      {% endfor %}
      </div>
        <center><button type="submit" class="btn btn-primary btn-md" name="action" value={{ role }}>Your Score</button></center>
      </form>
      <br>
      <!-- <button type="button" class="btn btn-dark btn-lg">
         Your Score is <span class="badge badge-primary btn-lg"><h3>{{score}}</h3></span>
          <span class="sr-only">unread messages</span>
        </button> -->
    </div>
  </div>
  <br>
{% endif %}

<!-- {{ score }} -->

{% endblock %}